# === DATABASE CONFIG ===
# localhost dipakai jika Anda run backend secara lokal (tanpa docker)
DB_HOST=localhost 
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin123
DB_NAME=notion_db

# ========Grafana Config========
GF_SECURITY_ADMIN_USER=qiddis
GF_SECURITY_ADMIN_PASSWORD=TerrorTheDawg
GF_USERS_ALLOW_SIGN_UP=false

#Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=your token

# === APPLICATION CONFIG ===
# Port dimana aplikasi Backend (Hono) akan berjalan
APP_PORT=3000