# # Konfigurasi Database MySQL;
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=admin123
# DB_NAME=notion_db
# # Konfigurasi Aplikasi
# # BACKEND_PORT=3000
# # FRONTEND_PORT=8080

# ==================================== #
# === DATABASE CONFIG ===
# localhost dipakai jika Anda run backend secara lokal (tanpa docker)
DB_HOST=localhost 
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin123
DB_NAME=notion_db

# === APPLICATION CONFIG ===
# Port dimana aplikasi Backend (Hono) akan berjalan
APP_PORT=3000